.b-cards_wrapper {
	margin: 0 2% 0 18%;
}

.b-cards
{
	list-style: none;
	word-spacing: -.25em;
	margin: -2em 0 0 -3em;
}
.b-cards li
{
	display: inline-block;
	display: -moz-inline-box;
	margin: 2em 0 0 3em;
}
