* {
	margin: 0;
	padding: 0;
}
html
{
	font-size: 100.01%;
}
body
{
	font-size: 62.5%;
	background: white url(top-left-background.jpg) no-repeat;
	width: 100%;
	position: relative;
} 
img
{
	border: 0;
}


/* clearfix */
.g-line:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }