* {
	margin: 0;
	padding: 0;
}
html
{
	font-size: 100.01%;
}
body
{
	font-size: 62.5%;
	background: white url(top-left-background.jpg) no-repeat;
	width: 100%;
	position: relative;
} 
img
{
	border: 0;
}


/* clearfix */
.g-line:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }.b-block-group
{
	margin: 5em 0 0;
	clear: both;
}
.b-block-group h2
{
	font: 2.1em Arial;
	margin-bottom: 1em;
}
.b-block-group h3
{
	font: 1.8em Arial;
	margin-bottom: 1em;
}
.b-block-group .std-list,
.b-block-group .linked-list
{
	margin-top: 1em;
	list-style: none;
}
.b-block-group .std-list li
{
	margin-left: -18px;
	padding-left: 18px;
	background: url(b-block-group-list-marker.gif) 0 .6em no-repeat;
	font: 1.3em Arial;
	margin-bottom: .4em;
	//zoom: 1;
}
.b-block-group .linked-list li {
	font: 1.3em Arial;
	margin-bottom: .5em;
}

.b-block-group .std-list li a
{
	color: #0033ff;
}
.b-card {
	/*display: inline-block;*/ /* ЕБУЧАЯ ОПЕРА 9.6! НЕНАВИЖУ ТЕБЯ!!! Убила всю красоту решения! */
	float: left;
	position: relative;
}

.b-card_corner, .b-card_suit
{
	background: url(b-card-sprite.jpg) no-repeat;
	display: block;
	position: absolute;
	z-index: 10;
	
	font: 0/0 a;
}
.b-card_corner {
	width: 7px; height: 8px;
	} 
	
.b-card_suit-t
{
	top: 9px; left: 9px;
}

.b-card_suit-b
{
	bottom: 9px; right: 9px;
}

.b-card__top-l 
{
	background-position: 0 0;
	left: 0px;
	top: 0px;
} 
.b-card__top-r 
{
	background-position: -7px 0;
	margin-left: 100%;
	left: -7px;
	top: 0px;
} 


.b-card__middle
{
	font: 3.6em Georgia;
	padding: 2.5em 2em 2.5em;
	border: 1px solid #717165;
	position: relative;
}


/* b-card bottom */
.b-card__bottom-l 
{
	background-position: 0 -8px;
	margin-top: -8px;
} 
.b-card__bottom-r 
{
	background-position: -7px -8px;
	margin-left: 100%;
	left: -7px;
	margin-top: -8px;
} 

/* Мастезависимые параметры */

/* Червы */
.b-card_hearts .b-card__middle
{
	color: #cb2d1f;
}
.b-card_hearts .b-card_suit-t
{
	width: 25px; height: 22px;
	background-position: -72px 0;
}
.b-card_hearts .b-card_suit-b
{
	width: 25px; height: 22px;
	background-position: -72px -22px;
}

/* Бубны */
.b-card_diams .b-card__middle
{
	color: #cb2d1f;
}
.b-card_diams .b-card_suit
{
	width: 23px; height: 23px;
	background-position: 0 -27px;
}

/* Крести */
.b-card_clubs .b-card__middle
{
	color: black;
}
.b-card_clubs .b-card_suit-t
{
	width: 25px; height: 25px;
	background-position: -23px 0;
}
.b-card_clubs .b-card_suit-b
{
	width: 25px; height: 25px;
	background-position: -23px -25px;
}

/* Крести */
.b-card_spades .b-card__middle
{
	color: black;
}
.b-card_spades .b-card_suit-t
{
	width: 24px; height: 25px;
	background-position: -48px 0;
}
.b-card_spades .b-card_suit-b
{
	width: 24px; height: 25px;
	background-position: -48px -25px;
}
.b-cards_wrapper {
	margin: 0 2% 0 18%;
}

.b-cards
{
	list-style: none;
	word-spacing: -.25em;
	margin: -2em 0 0 -3em;
}
.b-cards li
{
	display: inline-block;
	display: -moz-inline-box;
	margin: 2em 0 0 3em;
}
.b-content
{
	position: relative;
	width: 100%;
}
.b-content .gap
{
	width: 2%;
}
.b-content .sep
{
	width: 16%;
}
.b-content .content
{
	width: 80%;
}
.b-gradient-background 
{
	position: relative;
	
	margin-left: -10px;
}
.b-gradient-background_gradient-image
{
	position: absolute;
	z-index: 1;
	
	width: 100%;
	height: 100%;
}
.b-gradient-background_text
{
	position: relative;
	z-index: 2;
	
	padding-left: 10px;
	
	color: white;
	
	font: 2.4em Arial;
}.b-head
{
	position: relative;
	width: 100%;
}
.b-head .gap 
{
	width: 2%;
}
.b-head .l 
{
	width: 16%;
}
.b-head .profile
{
	width: 80%;
}

.b-head .logo
{
	padding: 0 15px;
	vertical-align: bottom;
}
.b-head .logo .logo__wrap
{
	margin: 0 auto;
	position: relative;
	width: 100px;
	height: 30px;
}
.b-head .logo .logo__wrap img
{
	position: absolute;
	bottom: 0;
	top: -10px;
}

.b-head .gradient
{
	padding: .1em 0 .3em;
}

/* Ссылки профиля */
.b-head_links
{
	padding: .6em 0 1em;
	text-align: right;
	list-style: none;
}
.b-head_links li
{
	display: inline;
	margin-left: 15px;
}
.b-head_links li a
{
	font: bold 1.3em Arial;
}
.b-head_link
{
	color: #ad262d;
}
.b-ilink
{
	position: relative;
	text-decoration: none;
	margin-left: -10px; /* Палка о двух концах, left: -10px не работает в ИЕ8 но работае в ФФ2 и 3.0, margin-left наоборот. Хачить? */
	padding-left: 10px;
	padding-right: 20px;
	zoom: 1;
}

.b-ilink:hover
{
	word-spacing: 0;
}
.b-ilink:hover .text
{
	color: white;
	background: #1657d3;
}

.b-ilink .text
{
	padding: 1px 6px 2px;
	cursor: hand;
}

/* Здесь не используется абсолютное позиционирование из-за 9-й оперы, в ней иначе возникает огромный скролл */
.b-ilink .icon
{
	background: url(b-ilink-icons-sprite.jpg) no-repeat;
	display: block;
	float: left;
	position: relative;
	margin-right: -100%;
	margin-top: 1px;
	cursor: hand;
}

.b-ilink_search .icon
{
	left: -16px;
	width: 8px; height: 14px;
}
.b-ilink_mail .icon
{
	left: -20px;
	width: 16px; height: 14px;
	background-position: -8px 0;
}
.b-ilink_weather .icon
{
	left: -20px;
	width: 16px; height: 14px;
	background-position: -24px 0;
}
.b-ilink_blogs .icon
{
	left: -20px;
	width: 16px; height: 14px;
	background-position: -40px 0;
}
.b-ilink_calendar .icon
{
	left: -20px;
	margin-top: 1px;
	width: 16px; height: 16px;
	background-position: -56px 0;
}
/**
 * Yandex style user profile link.
 */

.b-user-link
{
	font: bold 1.3em Arial;
	
	color: black;
}

.b-user-link .first-letter
{
	text-decoration: underline;
	
	color: #e93524;
}

.b-user-link:hover 
{
	color: #e93524;
}
/**
 * Очень простой ластик. Не подключать в продакшн
 */
* 
{
	margin: 0; padding: 0;
}
html
{
	font-size: 100.01%;
}
body
{
	font-size: 62.5%;
} 
/* Две обёртки, чтобы блоки не прыгали в ИЕ */
.l-cols-3-5-2 
{
	width: 10%;
	position: relative;
	//zoom: 1;
	margin-right: 1px;
}
.l-cols-3-5-2_wrap
{
	width: 1000%;
} 


.l-cols-3-5-2 .l-col-5
{
	width: 50%;
	float: left;
	position: relative;
}
.l-cols-3-5-2 .l-col-3
{
	width: 30%;
	float: left;
	position: relative;
}
.l-cols-3-5-2 .l-col-2
{
	width: 20%;
	float: left;
	position: relative;
}

.l-cols-3-5-2_col-wrap
{
	padding-right: 20%;
	//zoom: 1;
}
.b-card
{
	display: inline;
	zoom: 1;
}


* html .b-card__middle
{
	float: left; /* Иначе не получится сбросить уголки вниз */
}

* html .b-card__bottom-l 
{
	clear: left; /* Отбрасывает уголки вниз */
} 
* html .b-card__bottom-r 
{
	clear: left;
} 
.b-card__bottom-r[class] 
{
	right: 0;
} .b-cards[class]
{
	position: relative;
	zoom: 1;
	width: 100%;
}

.b-cards li
{
	display: inline;
	zoom: 1;
}
.b-gradient-background
{
	filter:progid:DXImageTransform.Microsoft.gradient (startColorstr=#fffec610, endColorstr=#ffff7800, GradientType=1);
	zoom: 1;
}
.b-gradient-background_gradient-image
{
	display: none;
}
/*.b-gradient-background_gradient-image
{
	behavior: expression((!this.movedBg ? (function(el){
		var eSrc = el.src;
		el.style.display = "none";
		el.parentNode.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + eSrc + ", sizingMethod='scale')";
		
		el.movedBg = true;
	})(this) :''));
}*/
html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

.g-line { zoom: 1; } * html .g-png24 {
	behaviour:expression(
		(!this.fixedPNG?
			(function(el){
				var fixSrc = "", sizingMethod = "crop";
				if (el.tagName.toLowerCase() == "img") {
					fixSrc = el.src;
					sizingMethod = "image";
					
					el.style.width = 1;
					el.style.height = 1;
					el.src = "";
				}
				else {
					var tmpImg = new Image();
					tmpImg.src = el.currentStyle.backgroundImage.split('\"')[1];
					if (parseInt(tmpImg.width) == 1 || parseInt(tmpImg.height) == 1 || el.className.indexOf('g-png-24__scaled') > -1) {
						sizingMethod = "scale";
					}
					
					fixSrc = el.currentStyle.backgroundImage.split('\"')[1];
					el.className += " g-png-fixed";
				}
				el.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + fixSrc + ", sizingMethod='" + sizingMethod + "')";
				el.fixedPNG = true;
			})(this):'')
		);
	}
	
* html .g-png-fixed {
	background-image: none !important;
}
