.b-card
{
	display: inline;
	zoom: 1;
}


* html .b-card__middle
{
	float: left; /* Иначе не получится сбросить уголки вниз */
}

* html .b-card__bottom-l 
{
	clear: left; /* Отбрасывает уголки вниз */
} 
* html .b-card__bottom-r 
{
	clear: left;
} 
.b-card__bottom-r[class] 
{
	right: 0;
} 